.Header {
  h1 {
    font-size: 2rem;
    text-align: center;
    .gradient{
      background-image: radial-gradient(
        circle at -14.09% 20.12%,
        #563fd7 30%,
        #7930cb 45%,
        #9219bd 60.5%,
        #a500ae 100%
      );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    }
  }
  h2 {
    font-size: 2rem;
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
