.postPreview {
  background-image: linear-gradient(
    to right top,
    #030b11,
    #020b13,
    #020b14,
    #020b16,
    #030b17
  );
  margin: 1.5em 0;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 20px -8px rgba(0, 105, 242), 0 5px 10px rgba(146, 25, 189);
  }

  h3 {
    margin-top: unset;
  }
  p {
    margin-bottom: unset;
  }
}
